.list-item {
  height: 58px;
}

.t-name {
  color: #505887;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .t-name {
    font-size: 16px;
  }
}

.trans-name {
  display: flex;
  align-items: center;
}

.down-arrow-icon {
  font-size: 20px;
  margin-right: 8px;
  color: #fe5c73;
}

@media screen and (min-width: 768px) {
  .down-arrow-icon {
    font-size: 30px;
    margin-right: 16px;
  }
}

.up-arrow-icon {
  font-size: 20px;
  margin-right: 8px;
  color: #16dbaa;
}

@media screen and (min-width: 768px) {
  .up-arrow-icon {
    font-size: 30px;
    margin-right: 16px;
  }
}

.trans-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pencil-icon {
  margin-right: 20px;
  cursor: pointer;
}

.del-icon {
  cursor: pointer;
}

.t-category {
  color: #718ebf;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .t-category {
    font-size: 16px;
  }
}

.t-amount {
  color: #fe5c73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .t-amount {
    font-size: 16px;
  }
}

.green {
  color: #16dbaa;
}

.red {
  color: #fe5c73;
}

.pull {
  display: flex;
  justify-content: flex-end;
}

.person-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
