.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 64, 84, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal-content {
  background-color: #fff;
  top: 25%;
  left: 30%;
  right: auto;
  bottom: auto;
  margin-right: -75%;
  width: 70%;
  border-radius: 16px;
  transform: translate(-48%, -10%);
  padding: 32px 24px;
  margin-top: 50%;
  margin-bottom: 20%;
}

@media screen and (min-width: 800px) {
  .add-modal-content {
    width: 30%;
    margin-top: 10%;
    margin-right: -28%;
    margin-bottom: 0;
  }
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 4px 8px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-icon {
  font-size: 24px;
  color: #718ebf;
}

.add-head {
  color: #333b69;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.add-description {
  color: #505887;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
}

.add-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  border-radius: 15px;
  border: 1px solid #dfeaf2;
  background: #fff;
  padding: 12px 15px;
  outline: none;
  font-size: 13px;
  color: #718ebf;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .input-field {
    font-size: 15px;
    margin-bottom: 24px;
    padding: 14px 20px;
  }
}

.add-label {
  margin-bottom: 6px;
  padding-bottom: 0px;
  margin-top: 0px;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .add-label {
    margin-bottom: 11px;
    font-size: 15px;
  }
}

.add-dropdown {
  appearance: none;
  border-radius: 15px;
  border: 1px solid #dfeaf2 !important;
  background: #fff;
  outline: none;
  font-size: 13px;
  color: #718ebf;
  padding: 12px 15px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .add-dropdown {
    padding: 13px 20px;
    margin-bottom: 24px;
    font-size: 15px;
  }
}

.add-trans-button {
  padding: 8px 16px;
  background-color: #2d60ff;
  border-radius: 8px;
  font-family: Inter;
  font-size: 14px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.custom-datepicker {
  width: 96%;
  border-radius: 15px;
  border: 1px solid #dfeaf2;
  background: #fff;
  padding: 12px 15px;
  padding-right: 0px;
  outline: none;
  font-size: 13px;
  color: #718ebf;
  margin-bottom: 24px;
  display: block !important;
}

@media screen and (min-width: 768px) {
  .custom-datepicker {
    padding: 14px 20px;
    font-size: 15px;
    width: 90%;
  }
}
