.last-transactions-table {
  background-color: #fff;
  padding: 12px;
  border-radius: 25px;
  margin-top: 16px;
  width: 100%;
  border-spacing: 0px;
}

@media screen and (min-width: 768px) {
  .last-transactions-table {
    padding: 12px 24px;
  }
}
